h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin-bottom: 1.5rem;
	color: @color__text-headline;
	font-family: @font__headline;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	.font-size(1.75);
}

h2 {
	.font-size(1.5);
}

h3 {
	.font-size(1.25);
}

h4, h5, h6 {
	.font-size(1);
}

.entry-title, .page-title {
	margin: 0;
}