// @import "layout/content-sidebar";
// @import "layout/sidebar-content";

.column {
	width: @size__site-main;
	margin: 0 auto;
	//.clearfix();
	
	.break-large('max', {
		width: 100%;
	});

	.with-sidebar {
		width: 95% - @size__site-sidebar;
		float: left;
	}

	.sidebar {
		width: @size__site-sidebar;
		float: right;
	}

	// Quick Grid
	.one-half {
		width: 49%;
		margin-right: 2%;
		float: left;
	}

	.one-third {
		width: 32%;
		margin-right: 2%;
		float: left;
	}

	.two-thirds {
		width: 66%;
		margin-right: 2%;
		float: left;
	}

	.one-fourth {
		width: 23%;
		margin-right: 2%;
		float: left;
	}

	.three-fourths {
		width: 75%;
		margin-right: 2%;
		float: left;
	}

	.end {
		margin-right: 0 !important;
	}
	
	.break-med('max', {
		.one-half, .one-third, .two-thirds, .one-fourth, .three-fourths {
			width: 100%;
			margin-right: 0;
			margin-bottom: 15px;
			float: none;
		}
		
		.collapse-hidden {
			display: none;
		}
	});
}

.site-header {
	
	.site-branding {
		
		img {
			vertical-align: bottom;
		}
	}
}

.site-content {
	
}

.site-footer {

	.site-info {
		a {
			color: @color__footer-link;
		}
	}
}

/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
@import "primary/comments";
